* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#f44336, #730228);
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.selector {
    
    width: 350px;
    
}
#selectField {
    width: 100%;
    
    padding: 15px 20px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  
}
#selectField img {
    width: 15px;
    transition: transform 0.5s;

}
#list{
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}
.options{
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    padding: 15px 0 15px 70px;
}
.options img{
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}
.options:hover{
    background-color: azure;
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
